### Get rows that the original simulation has never seen before

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../test_data/Grounded CPW Leaky Wave antenna/S11 Data.csv")
X = df.drop(columns=['dB(S(1,1)) []'])

In [3]:
complete_df = pd.DataFrame(columns=X.columns)
# Create all combinations of ranges 
ranges = {}
data_cols = list(X.columns)
for column in data_cols:
    ranges[column] = X[column].unique()
    
# Try cartesian product in pandas instead https://stackoverflow.com/a/13270110/3675086
ranges_df = pd.DataFrame(ranges[X.columns[0]], columns=[X.columns[0]])
for col in complete_df.columns[1:]:
    temp_df = pd.DataFrame(ranges[col], columns=[col])
    ranges_df = ranges_df.merge(temp_df, how='cross')

In [4]:
merged = ranges_df.merge(df.drop(df.columns[-1], axis=1), how='left', indicator=True)
merged = merged[merged['_merge'] == 'left_only']
merged = merged.drop(merged.columns[-2:], axis=1)

In [6]:
merged.drop_duplicates()

,Feed_Gap [mm],Feed_Inset [cm],Feed_W [cm],Ground_gap [mm],Pad_L [cm],Pad_W [cm]
804,0.5,0.2,1.2,3,0.75,0.9
2412,0.5,0.2,1.2,4,0.75,0.9
3216,0.5,0.2,0.8,3,0.70,0.9
3618,0.5,0.2,0.8,3,0.70,1.1
3819,0.5,0.2,0.8,3,0.70,1.2
...,...,...,...,...,...,...
114771,0.4,0.6,1.0,4,0.70,1.2
114972,0.4,0.6,1.0,4,0.75,0.9
115173,0.4,0.6,1.0,4,0.75,1.0
115374,0.4,0.6,1.0,4,0.75,1.1
115575,0.4,0.6,1.0,4,0.75,1.2