### Get rows that the original simulation has never seen before

In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("../test_data/new leaky wave/S11_Data_combined.csv")
X = df.drop(columns=['dB(S(1,1)) []'])

In [35]:
complete_df = pd.DataFrame(columns=X.columns)
# Create all combinations of ranges 
ranges = {}
data_cols = list(X.columns)
for column in data_cols:
    ranges[column] = X[column].unique()
    
# Try cartesian product in pandas instead https://stackoverflow.com/a/13270110/3675086
ranges_df = pd.DataFrame(ranges[X.columns[0]], columns=[X.columns[0]])
for col in complete_df.columns[1:]:
    temp_df = pd.DataFrame(ranges[col], columns=[col])
    ranges_df = ranges_df.merge(temp_df, how='cross')

In [36]:
merged = ranges_df.merge(df.drop(df.columns[-1], axis=1), how='left', indicator=True)
merged = merged[merged['_merge'] == 'left_only']
merged = merged.drop(merged.columns[-2:], axis=1)

In [37]:
df

,cpw_in [mm],feed_l [mm],patch_l [mm],cpw_g [mm],Feed_W [mm],ground_w [mm],patch_ground_w [mm],patch_w [mm],Freq [GHz],"dB(S(1,1)) []"
0,1.5,3.25,3.25,0.18,1.0,1.0,1.0,4.75,11.00,-1.455338
1,1.5,3.25,3.25,0.18,1.0,1.0,1.0,4.75,11.09,-1.495640
2,1.5,3.25,3.25,0.18,1.0,1.0,1.0,4.75,11.18,-1.566487
3,1.5,3.25,3.25,0.18,1.0,1.0,1.0,4.75,11.27,-1.667701
4,1.5,3.25,3.25,0.18,1.0,1.0,1.0,4.75,11.36,-1.799854
...,...,...,...,...,...,...,...,...,...,...
26659,2.0,3.75,3.50,0.18,1.0,1.5,1.5,5.00,19.64,-3.573784
26660,2.0,3.75,3.50,0.18,1.0,1.5,1.5,5.00,19.73,-2.925513
26661,2.0,3.75,3.50,0.18,1.0,1.5,1.5,5.00,19.82,-2.792273
26662,2.0,3.75,3.50,0.18,1.0,1.5,1.5,5.00,19.91,-3.092972
26663,2.0,3.75,3.50,0.18,1.0,1.5,1.5,5.00,20.00,-4.173233

In [38]:
print(f"Original: {df[df.columns[:-2]].drop_duplicates().shape}")
print(f"Unique Permutations not in Original: {merged.drop_duplicates().shape}")

Original: (262, 8)
Unique Permutations not in Original: (655988, 8)

In [39]:
merged.shape

(66254788, 8)

In [40]:
# df = pd.read_csv("../test_data/patch_antenna/Patch Antenna S11 Data.csv")
# X = df.drop(columns=['dB(S(1,1)) []'])

In [41]:
complete_df = pd.DataFrame(columns=X.columns)

# Create all combinations of ranges 
ranges = {}
data_cols = list(X.columns)
for column in data_cols:
    ranges[column] = X[column].unique().tolist()

# Custom overrides
# ranges['inset_dist [mm]'] += [0.8, 1.2]
# ranges['L [mm]'] += [11.75, 12.25]
# ranges['W [mm]'] += [14.2, 14.4, 14.6, 15.0, 15.2, 15.4]
# ranges['W0 [mm]'] += [2.75, 3.25]
# ranges['y0 [mm]'] += [3.25, 3.75, 4.25, 4.75]

# Try cartesian product in pandas instead https://stackoverflow.com/a/13270110/3675086
ranges_df = pd.DataFrame(ranges[X.columns[0]], columns=[X.columns[0]])
for col in complete_df.columns[1:]:
    temp_df = pd.DataFrame(ranges[col], columns=[col])
    ranges_df = ranges_df.merge(temp_df, how='cross')

In [42]:
merged = ranges_df.merge(df.drop(df.columns[-1], axis=1), how='left', indicator=True)
merged = merged[merged['_merge'] == 'left_only']
merged = merged.drop(merged.columns[-2:], axis=1)

In [43]:
print(f"Original: {df[df.columns[:-2]].drop_duplicates().shape}")
print(f"Unique Permutations not in Original: {merged.drop_duplicates().shape}")

Original: (262, 8)
Unique Permutations not in Original: (655988, 8)

In [49]:
merged.sample(n=6)

,cpw_in [mm],feed_l [mm],patch_l [mm],cpw_g [mm],Feed_W [mm],ground_w [mm],patch_ground_w [mm],patch_w [mm]
62672385,2.50,4.00,4.00,0.12,2.00,0.75,1.25,5.00
61939476,2.50,4.00,3.50,2.22,1.00,1.50,1.00,4.75
30083898,2.00,3.50,3.50,1.92,0.75,0.75,0.50,5.00
6558425,1.50,3.75,3.75,0.72,1.50,1.25,1.50,5.00
43803106,2.25,3.50,3.75,1.62,1.00,0.75,1.50,4.75
4572513,1.50,3.50,4.00,1.62,0.50,1.25,1.00,5.00